<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>FindsOffice - Бюро Находок</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <header>
    <h1>FindsOffice</h1>
    <p>Бюро Находок:<br>система учета утерянных вещей</p>
  </header>
  <main>
    <body>
    <div id="sidebar-menu" class="sidebar">
      <div class="user-info">
        <% if (user) { %>
        <div style="font-size: 20px;"><b><%= user.last_name %> <%= user.first_name %></b></div>
        <div style="font-size: 14px; color: gray">Логин: <%= user.login %></div>
        <% } else { %>
          <div style="font-size: 20px;"><b>Добро пожаловать!</b><br>
            <p style="font-size: 12px; color: gray; margin-top: 2px">Для получения всех функций сервиса попросим Вас авторизоваться :3</p>
          </div>
          <div style="text-align: center;">
            <button class="auth-button-in" onclick="location.href='/login'">Войти</button>
          </div>
        <% } %>
      </div>
      
      <% if (user) { %>
      <nav class="sidebar-nav">
        <a href="/" class="sidebar-link">Главная страница</a>
        <a href="/responses" class="sidebar-link">Отклики</a>
        <a href="/requests" class="sidebar-link">Заявки</a>
        <% if (user.role="администратор") { %> <a href="/users" class="sidebar-link">Пользователи<sup style="color:gray; font-size: 10px;"> Специально для администратора</sup></a> <% } %>
      </nav>
      <% } %>

      <% if (user) { %>
      <div style="text-align: center; margin-top: 10px;">
        <button class="auth-button-out" onclick="logout()">Выйти</button>
      </div>
      <% } %>
    </div>
    
    <button id="menu-toggle" class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>

    </body>