<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>FindsOffice - Бюро Находок</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <header>
    <h1>FindsOffice</h1>
    <p>Бюро Находок:<br>система учета утерянных вещей</p>
  </header>
  <main>
    <body>
    <div id="sidebar-menu" class="sidebar">
      <div class="user-info">
        <div style="font-size: 20px;"><b><%= user.last_name %> <%= user.first_name %></b></div>
        <div style="font-size: 14px; color: gray">Логин: <%= user.login %></div>
      </div>
      
      <nav class="sidebar-nav">
        <a href="/" class="sidebar-link">Главная страница</a>
        <a href="/responses" class="sidebar-link">Отклики</a>
        <a href="/requests" class="sidebar-link">Заявки</a>
      </nav>
    </div>
    
    <button id="menu-toggle" class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
    </body>